table {
  border-collapse: collapse;
}

.ShowYourResources_td {
  text-align: center;
  width: 180px;
  text-overflow: ellipsis;
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;
  /* border-style: inset;
  border-collapse: collapse;
  border-width: 0.5px; */
}

.ShowYourResources_srno,
.ShowYourResources_download,
.ShowYourResources_view {
  text-align: center;
  width: 120px;
  text-overflow: ellipsis;
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;
}
